*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #4a4a4a;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: 'Poppins-Medium', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  border-radius: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
